<div class="container-fluid">
    <h1 class="h5 mb-4">Inviter l'utilisateur au salon : {{ room.name }}</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <form method="post" data-room-id="{{ room.id }}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <p id="infos"></p>
            <label for="receiver" class="form-label">Sélectionnez un utilisateur à ajouter</label>
            <input
                    type="text"
                    id="receiver"
                    name="receiver_username"
                    class="form-control"
                    placeholder="Commencez à taper un nom d'utilisateur"
                    autocomplete="off"
                    required
            >
        </div>
        <ul id="suggestions-list" class="list-group mb-3"></ul>
    </form>
</div>