<div class="mb-3 rounded" id="message-line" data-message-id="{{ message.id }}">
    <p class="mb-1">
        <strong>{{ message.author.username }}</strong>
        <span class="small fst-italic">
            {% if message.sent_at|date:'d/m/Y' == today|date:'d/m/Y' %}
                Aujourd'hui à {{ message.sent_at|date:'H:i' }}
            {% elif message.sent_at|date:'d/m/Y' == yesterday|date:'d/m/Y' %}
                Hier à {{ message.sent_at|date:'H:i' }}
            {% else %}
                Le {{ message.sent_at|date:'d/m/Y' }} à {{ message.sent_at|date:'H:i' }}
            {% endif %}
        </span>
        <button type="button" title="Supprimer" id="delete-message" class="action-message px-1">
            <i class="bi bi-trash-fill"></i>
        </button>
        <button type="button" title="Modifier" id="edit-message" class="action-message px-1">
            <i class="bi bi-pencil-fill"></i>
        </button>
    </p>
    <p class="text-break">{{ message.content|linebreaksbr|safe }}</p>
</div>