{% for user_status in room_users %}
    <button class="btn text-decoration-none p-0 ms-0 open-user-popover" id="user-btn"
            data-bs-toggle="popover"
            data-bs-html="true"
            data-id="{{ user_status.user.id }}"
            data-username="{{ user_status.user.username }}"
            data-role="{{ user_status.status }}"
            title="Modifier le rôle"
            data-bs-content=""
            data-bs-placement="left">
        <div class="d-flex align-items-center mb-2 user-item"
             data-id="{{ user_status.user.id }}"
             data-username="{{ user_status.user.username }}"
             data-role="{{ user_status.status }}">
            <i class="bi bi-person-circle me-2"></i>
            <span class="flex-grow-1">{{ user_status.user.username }}</span>
            {% if user_status.status == "owner" %}
                <i class="bi bi-award-fill text-warning ms-2" title="Propriétaire"></i>
            {% endif %}
        </div>
    </button>
{% empty %}
    <p>Aucun utilisateur.</p>
{% endfor %}