@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* Global styles */
* {
    margin: 0;
    padding: 0;
}

/* Color theme */
:root {
    --primary-color: #e27b7e; /* Rose doux */
    --primary-color-hover: #d8646b; /* Rose foncé */
    --secondary-color: #c97c83; /* Rose grisâtre */
    --success-color: #ef9aa6; /* Rose pâle */
    --info-color: #ffb3b8; /* Rose clair */
    --warning-color: #f6d9db; /* Rose pêche */
    --danger-color: #d8646b; /* Rouge rosé */
    --light-color: #fce4e8; /* Rose pastel */
    --dark-color: #803f47; /* Bordeaux */
    --bg-chat-color: #f9e1e4; /* Fond rose pâle */
}

/* Footer */
.footer-custom {
    background-color: var(--light-color);
    color: var(--secondary-color);
    text-align: center;
    height: auto;
    z-index: 1030;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

/* Search bar */
#suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--secondary-color);
    max-height: 200px;
    overflow-y: auto;
}

#suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

#suggestions-list li:hover {
    background-color: var(--bg-chat-color);
}

/* Form constraints */
.errorlist li {
    color: var(--danger-color);
    list-style-type: none;
}

/* Room list */
.room-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--dark-color);
    padding: 0 1vh;
}

a[class="btn btn-link room-title"]:hover {
    color: var(--secondary-color);
}

.add-room {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 2rem;
}

.add-room:hover {
    color: var(--secondary-color);
}

.list-unstyled {
    padding: 0;
    margin: 0;
}

.room-item {
    background-color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.room-item:hover {
    background-color: var(--bg-chat-color);
}

.room-link {
    text-decoration: none;
    color: var(--dark-color);
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.delete-icon {
    color: var(--danger-color);
    transition: opacity 0.3s ease, color 0.3s ease;
    opacity: 0;
    pointer-events: none;
    margin-left: 8px;
}

.room-item:hover .delete-icon {
    opacity: 1;
    pointer-events: auto;
}

.delete-icon:hover {
    color: var(--primary-color-hover);
}

@media (max-width: 768px) {
    .room-item {
        flex-wrap: wrap;
    }

    .delete-icon {
        margin-top: 0.5rem;
    }
}

/* Messages container */
#messages-container {
    scrollbar-width: thin;
}

#messages-container::-webkit-scrollbar {
    width: 8px;
}

#messages-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
}

#messages-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color-hover);
}

.vh-85 {
    height: 85vh;
}

.text-gray-300 {
    color: var(--secondary-color) !important;
}

.bg-light {
    background-color: var(--light-color) !important;
}

textarea#msg {
    resize: none;
    background-color: var(--light-color);
}

.emoji-btn,
.send-btn {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.emoji-btn:hover,
.send-btn:hover {
    color: var(--primary-color);
}

.emoji-btn:focus,
.send-btn:focus {
    outline: none;
    box-shadow: none;
}

.action-message {
    visibility: hidden;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    float: right;
    cursor: pointer;
    font-size: 1.2em;
}

#message-line:hover {
    background-color: var(--warning-color);
    margin: 0 -1vh;
    padding: 0 1vh;
    padding-bottom: -0.1vh;
}

#message-line:hover .action-message {
    visibility: visible;
}

.action-message:hover {
    color: red;
}


/* 404 Error page */
.error-container {
    text-align: center;
    font-size: 106px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    margin: 70px 15px;
}

.error-container > span {
    display: inline-block;
    position: relative;
}

.error-container > span.four {
    width: 136px;
    height: 43px;
    border-radius: 999px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
    linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
    linear-gradient(to right, #d89ca4, #e27b7e);
}

.error-container > span.four:before,
.error-container > span.four:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 999px;
}

.error-container > span.four:before {
    width: 43px;
    height: 156px;
    left: 60px;
    bottom: -43px;
    background: linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
    linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
    linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > span.four:after {
    width: 137px;
    height: 43px;
    transform: rotate(-49.5deg);
    left: -18px;
    bottom: 36px;
    background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > span.zero {
    vertical-align: text-top;
    width: 156px;
    height: 156px;
    border-radius: 999px;
    background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%, transparent 51%, transparent 100%),
    linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
    overflow: hidden;
    animation: bgshadow 5s infinite;
}

.error-container > span.zero:before {
    content: '';
    display: block;
    position: absolute;
    transform: rotate(45deg);
    width: 90px;
    height: 90px;
    background-color: transparent;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
    linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}

.error-container > span.zero:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 999px;
    width: 70px;
    height: 70px;
    left: 43px;
    bottom: 43px;
    background: #FDFAF5;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

@keyframes bgshadow {
    0% {
        box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
    }
    45% {
        box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    55% {
        box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
    }
}

.more-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #de7e85;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.more-link:hover {
    background-color: #994a51;
}

/* 500 Error page */
.container-500 {
    width: 75%;
    max-width: 700px;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 650px) {
    .container-500 {
        width: 85%;
    }
}

.container-500 .header-500 {
    color: #fb3958;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 5px #b1041f;
}

@media (max-width: 650px) {
    .container-500 .header-500 {
        font-size: 3em;
    }
}

.compcontainer-500 {
    width: 75%;
    height: 13rem;
    padding: 1rem 0;
}

@media (max-width: 650px) {
    .compcontainer-500 {
        height: 10rem;
    }
}

.compcontainer-500 svg {
    max-width: 100%;
    max-height: 100%;
    animation: bouncy 1300ms linear infinite;
}

.instructions-500 {
    background: #FEFEFE;
    width: 80%;
    height: auto;
    padding: 1rem;
    border: 1px solid #DCDCDC;
    border-radius: 0.25rem;
}

@media (max-width: 650px) {
    .instructions-500 {
        width: 100%;
    }
}

.instructions-500 h2 {
    font-size: 1.25em;
    line-height: 1.3;
    color: #e30528;
}

@media (max-width: 650px) {
    .instructions-500 h2 {
        font-size: 1.05em;
    }
}

.instructions-500 p {
    font-size: 1.15em;
    line-height: 1.5;
    color: #122125;
}

@media (max-width: 650px) {
    .instructions-500 p {
        font-size: 1em;
    }
}

.instructions-500 .step-500 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1.5rem;
    margin: 0.5rem 0;
}

.instructions-500 .step-500 .icon-500 {
    width: 1.25rem;
    height: 1.25rem;
    align-self: center;
}

@media (max-width: 650px) {
    .instructions-500 .step-500 .icon-500 {
        width: 1rem;
        height: 1rem;
    }
}

.instructions-500 .step-500 p {
    display: inline-block;
    width: 80%;
    line-height: 1.5;
    padding-left: 0.5rem;
}

@keyframes bouncy {
    0% {
        transform: translateY(10px) translateX(0) rotate(0);
    }
    25% {
        transform: translateX(-10px) rotate(-10deg);
    }
    50% {
        transform: translateX(0) rotate(0deg);
    }
    75% {
        transform: translateX(10px) rotate(10deg);
    }
    100% {
        transform: translateY(10px) translateX(0) rotate(0);
    }
}