* {
    margin: 0;
    padding: 0;
}

/* Color theme */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

/* Custom CSS for the footer */
.footer-custom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: var(--light-color);
    color: var(--secondary-color);
    text-align: center;
    line-height: 4vh;
}

/* Custom CSS for the search bar */
#suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}

#suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

#suggestions-list li:hover {
    background-color: #f0f0f0;
}

#delete {
  display: none;
}

#delete:hover {
  display: block;
} 

.message-container {
    height: 400px; /* Définissez la hauteur selon vos besoins */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}