{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2">
                <button id="invitationPopover" class="btn text-decoration-none p-0 ms-0 room-title" data-bs-toggle="popover"
                   title="Invitations" data-bs-html="true" data-bs-content="Chargement...">
                    <i class="bi bi-envelope-fill me-2"></i> Invitations
                </button>
                <p class="room-title">Salons <a href="{% url 'create_room' %}" class="add-room"
                                                title="Créer un salon">+</a></p>
                <ul class="list-unstyled">
                    {% for room in rooms %}
                        <li class="room-item d-flex align-items-center justify-content-between p-2">
                            <a href="{% url 'room_detail' room.id %}"
                               class="room-link text-truncate">{{ room.name }}</a>
                            <a href="{% url 'delete_room' room.id %}" class="delete-icon ms-2"
                               onclick="return confirm('Êtes vous sur de vouloir supprimer le salon ?')">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-10">
                {% block chat %}
                    <h1>Choisissez un salon pour commencer à discuter</h1>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
