{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2">
                <a href="{% url 'invitations_list' %}" class="btn btn-link room-title"><i class="bi bi-envelope-fill"></i> Invitations</a>
                <p class="room-title">Salons <a href="{% url 'create_room' %}" class="add-room" title="Créer un salon">+</a></p>
                <ul class="list-unstyled">
                    {% for room in rooms %}
                        <li class="room-item d-flex align-items-center justify-content-between p-2">
                            <a href="{% url 'room_detail' room.id %}"
                               class="room-link text-truncate">{{ room.name }}</a>
                            <a href="{% url 'delete_room' room.id %}" class="delete-icon ms-2"
                               onclick="return confirm('Êtes vous sur de vouloir supprimer le salon ?')">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-8">
                {% block chat %}
                    <h1>Choisissez un salon pour commencer à discuter</h1>
                {% endblock %}
            </div>
            <div class="col-12 col-md-2">
                {% block user_list %}
                    <p class="room-title">Membres</p>
                    <ul class="list-unstyled">
                        {% for user in users %}
                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                <span>
                                    <i class="bi bi-person-fill"></i> {{ user.username }}
                                </span>
                                {% if user == owner %}
                                    <span class="badge bg-secondary">Propriétaire</span>
                                {% elif user in administrators %}
                                    <span class="badge bg-secondary">Administrateur</span>
                                {% else %}
                                    <span class="badge bg-secondary">Membre</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
