{%extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10">
                <p class="room-title">Membres<a href="{% url 'invite_user' %}" class="add-user" title="Ajouter un membre">+</a></p>
                <ul class="list-unstyled">
                    {% for user_status in user_status %}
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <span>
                                <i class="bi bi-person-fill"></i> 
                                {{ user_status.user.username }}
                            </span>
                            <span class="badge bg-secondary">
                                {{ user_status.get_status_display }}
                            </span>
                            {% if is_owner %}
                                <div class="actions">
                                    {% if user_status.status != "owner" %}
                                        <a href="{% url 'promote_to_admin' user_status.user.id room.id %}" class="btn btn-sm btn-success">Nommer administrateur</a>
                                    {% if user_status.status == "administrator" %}
                                        <a href="{% url 'demote_to_user' user_status.user.id room.id %}" class="btn btn-sm btn-warning">Rétrograder</a>
                                    {% endif %}
                                    <a href="{% url 'ban_user' user_status.user.id room.id %}" class="btn btn-sm btn-danger">Bannir</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </li>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}