{% extends 'room_list.html' %}

{% block chat %}
    <div class="chat-room">
        <h2>Salon : {{ room.name }}</h2>
        <a href="{% url 'invite_user' room.id %}">Inviter un utilisateur</a>
            
        <div class="messages-container">
            {% for message in room_messages %}
                <div class="message">
                    <p>
                        <strong>{{ message.author.username }} </strong>
                        {% if message.sent_at|date:'d/m/Y' == today|date:'d/m/Y' %}
                            Aujourd'hui à {{ message.sent_at|date:'H:i' }}
                        {% elif message.sent_at|date:'d/m/Y' == yesterday|date:'d/m/Y' %}
                            Hier à {{ message.sent_at|date:'H:i' }}
                        {% else %}
                            Le {{ message.sent_at|date:'d/m/Y' }} à {{ message.sent_at|date:'H:i' }}
                        {% endif %}<br>
                        {{ message.content }}
                    </p>
                </div>
            {% empty %}
                <p>Aucun message dans ce salon pour le moment. Soyez le premier à écrire !</p>
            {% endfor %}
        </div>
        
        <form method="post" id="message" action="{% url 'send_message' room.id %}">
            {% csrf_token %}
            <label>
                <input id="msg" type="text" name="content" placeholder="Écrivez votre message ici..." required>
            </label>
            <button type="submit" class="submit">Envoyer</button>
        </form>
    </div>
{% endblock %}