{% extends 'room_list.html' %}

{% block chat %}
    <div class="container-fluid d-flex flex-column vh-85">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0 d-flex align-items-center">
                <i class="bi bi-chat-left-text-fill me-2" id="chat-name-i"></i>{{ room.name }}
            </h2>
            <button class="btn btn-light rounded-5 p-2 invite-user-btn" id="invitePopover"
                    data-bs-toggle="popover"
                    data-bs-html="true"
                    data-bs-content=""
                    title="Inviter des utilisateurs">
                <i class="bi bi-person-plus-fill"></i>
            </button>
            <button id="mobile-users-button" class="btn btn-light rounded-5 p-2 d-md-none" style="display: none;"
                    data-bs-toggle="offcanvas" data-bs-target="#usersOffcanvas" aria-controls="usersOffcanvas">
                <i class="bi bi-person-circle"></i>
            </button>

            <!-- Offcanvas for small screens -->
            <div class="offcanvas offcanvas-end" id="usersOffcanvas"
                 aria-labelledby="usersOffcanvasLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="usersOffcanvasLabel">Utilisateurs</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {% include 'partials/user_edit_role.html' %}
                </div>
            </div>
        </div>

        <div class="row flex-grow-1 overflow-hidden">
            <div class="col-md-10 col-12 d-flex flex-column h-100">
                <!-- Zone de messages -->
                {% include 'partials/message_list.html' %}

                <!-- Zone d'Input -->
                <div class="d-flex align-items-center p-2 bg-light rounded">
                    <button class="btn emoji-btn p-0 me-2">
                        <i class="bi bi-emoji-smile-fill"></i>
                    </button>
                    <form class="d-flex flex-grow-1" id="message" method="post">
                        {% csrf_token %}
                        <textarea id="msg" class="form-control bg-light border-0 shadow-none me-2" name="content"
                                  placeholder="Écrivez votre message ici..." required></textarea>
                        <button type="submit" class="btn send-btn p-0" title="Envoyer">
                            <i class="bi bi-arrow-right-circle"></i>
                        </button>
                    </form>
                </div>
            </div>

            <!-- Zone d'utilisateurs -->
            <div id="desktop-users-column" class="col-2 d-none d-md-flex flex-column h-100 border-start">
                <h5 class="p-2 border-bottom">Utilisateurs</h5>
                <div class="overflow-auto flex-grow-1 p-2">
                    {% include 'partials/user_edit_role.html' %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}
