{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Oueb³</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.svg' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
                <img src="{% static 'img/logo.svg' %}" alt="Logo" width="30" height="30" class="me-2">
                Projet Oueb<sup>3</sup>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Inscription</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show"
                 role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="container my-4">
    {% block content %}
        <h1>Accueil</h1>
        <p>Bienvenue sur le site de Projet Oueb<sup>3</sup> !</p>
        {% if is_authenticated %}
            <p>Vous êtes connecté en tant que {{ current_user.username }}.</p>
            <div class="gap-2 mt-3">
                <a href="{% url 'room_list' %}" class="btn btn-secondary">Accéder à la liste des salons</a>
            </div>
        {% endif %}
    {% endblock %}
</div>

<footer class="footer-custom bg-light py-3 fixed-bottom">
    <div class="container text-center">
        <p class="mb-0">
            &copy; 2024 Projet Oueb<sup>3</sup> : Jarod Kohler, Lucie Monneret, Lucas Runser. Tous droits réservés.
        </p>
    </div>
</footer>
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
